<h1>Events</h1>

<ul>
  <% @events.each do |event| %>
    <li><%= link_to event.name, event %> <i class="cmt-count-<%= event.id %>"><%= event.comments.count %></i><%= ' comments' %></li>
  <% end %>
</ul>
